<section class="about">
  <div class="container">
    <h2 class="section-title">About</h2>
    <p class="section-text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum, reiciendis iste nihil
      blanditiis neque at error dicta quidem officiis adipisci, saepe quisquam dolorem expedita.
      Nobis libero corporis officia recusandae eum!
    </p>
    <p class="section-text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum, reiciendis iste nihil
      blanditiis neque at error dicta quidem officiis adipisci, saepe quisquam dolorem expedita.
      Nobis libero corporis officia recusandae eum!
    </p>
    <p class="section-text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum, reiciendis iste nihil
      blanditiis neque at error dicta quidem officiis adipisci, saepe quisquam dolorem expedita.
      Nobis libero corporis officia recusandae eum!
    </p>
  </div>
</section>
